@media (max-width: 1800px) {
    .solar-item a{
        top: 79%;
    }

    .solar-panels-text{
        top: 62%;
    }

    .solar-roof-text{
        top: 62%;
    }

}

@media (max-width: 1700px) {
    .car-section-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid grey;
    }

    .car-section-right{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-bottom: 3px solid grey;
    }

    .img-box{
        width: 80%;
    }

    .car-description{
        width: 88%;
    }

    .car-description li{
    margin-bottom: 28px;
}
}

@media (max-width: 1615px) {
    .solar-item a{
        top: 82%;
    }

    .img-box{
        width: 90%;
    }
}

@media (max-width: 1371px) {
    .solar-item a{
        top: 80%;
    }
    
    .solar-panels-text{
        top: 57%;
        font-size: 56px;
    }

    .solar-roof-text{
        top: 57%;
        font-size: 56px;
    }

    .car-section-left .img-text{
        font-size: 48px;
    }

    .car-section-right .img-text{
        font-size: 48px;
    }
}

@media (max-width: 1209px) {
    .solar-item a{
        top: 78%;
    }
    
    .solar-panels-text{
        top: 52%;
    }

    .solar-roof-text{
        top: 52%;
    }

        .nav-item a{
        font-size: 14px;
    }

    nav{
        padding: 0 1%;
    }
}

@media (max-width: 1099px) {
    .solar-item a{
        top: 78%;
    }
    
    .solar-panels-text{
        top: 52%;
        font-size: 48px;
    }

    .solar-roof-text{
        top: 52%;
        font-size: 48px;
    }

    .middle-menu{
        display: none;
    }
}

@media (max-width: 980px) {
    .solar-item a{
        top: 78%;
    }
    
    .solar-panels-text{
        top: 52%;
        font-size: 48px;
    }

    .solar-roof-text{
        top: 52%;
        font-size: 48px;
    }

    .img-box{
        width: 100%;
    }
}

@media (max-width: 880px) {
    .solar-item a{
        top: 72%;
    }
    
    .solar-panels-text{
        top: 48%;
        font-size: 42px;
    }

    .solar-roof-text{
        top: 48%;
        font-size: 42px;
    }
}

@media (max-width: 820px) {
    .solar-cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .solar-item{
        width: 68%;
    }

    .solar-panels-text{
        top: 54%;
        font-size: 46px;
    }

    .solar-roof-text{
        top: 54%;
        font-size: 46px;
    }

    .solar-item a{
        width: 200px;
    }

    .logo{
        width: 12%;
    }

    .car-description li{
        margin-bottom: 14px;
        font-size: 16px;
    }

    .car-description h1{
        margin-bottom: 15px;
        font-size: 44px;
    }   


}

@media (max-width:720px) {
    .solar-panels-text{
        top: 52%;
        font-size: 46px;
    }

    .solar-roof-text{
        top: 52%;
        font-size: 46px;
    }

    .models{
        padding: 0 20px;
    }
}

@media (max-width: 620px) {
    .actions-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .solar-panels-text{
        top: 50%;
        font-size: 42px;
    }

    .solar-roof-text{
        top: 50%;
        font-size: 42px;
    }

    .solar-item a{
        width: 140px;
        font-size: 14px;
    }

    .car-section-left .img-text{
        font-size: 38px;
    }

    .car-section-right .img-text{
        font-size: 38px;
    }

    .car-section-left{
        gap: 10px;
    }

    .car-section-right{
        gap: 10px;
    }

    .title-section h1{
        font-size: 32px;
    }

    .title-section p{
        font-size: 12px;
    }

    .dark{
        width: 160px;
        height: 30px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .light{
        width: 160px;
        height: 30px;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .actions-area{
        gap: 8px;
    }

    .footer a{
        font-size: 10px;
    }

    .footer ul{
        gap: 16px;
    }
}

@media (max-width: 520px) {
    .solar-panels-text{
        top: 50%;
        font-size: 36px;
    }

    .solar-roof-text{
        top: 50%;
        font-size: 36px;
    }

    .logo{
        width: 68px;
    }

    .car-section-left .img-text{
        font-size: 30px;
    }

    .car-section-right .img-text{
        font-size: 30px;
    }
}

@media (max-width: 470px) {
    .footer a{
        font-size: 7px;
    }

    .footer ul{
        gap: 16px;
    }
}

@media (max-width:440px) {
    .solar-panels-text{
        top: 48%;
        font-size: 36px;
    }

    .solar-roof-text{
        top: 48%;
        font-size: 36px;
    }

    .solar-item a{
        width: 110px;
        font-size: 14px;
        height: 28px;
        padding: 0;
        align-items: center;
    }

    .logo{
        width: 72px;
    }

    .shop-nav{
        display: none;
    }

    .account-nav{
        display: none;
    }

    .car-description h1{
        margin-bottom: 15px;
        font-size: 28px;
    }

    .car-description li{
        margin-bottom: 14px;
        font-size: 13px;
    }

    .car-description{
        margin-top: 0;
    }

    .title-section h1{
        font-size: 28px;
    }

    .title-section p{
        font-size: 10px;
    }

}

@media (max-width:390px) {
    .solar-panels-text{
        top: 44%;
        font-size: 28px;
    }

    .solar-roof-text{
        top: 44%;
        font-size: 28px;
    }

    .solar-item a{
        top: 68%;
    }

    .solar{
        margin-bottom: 40px;
    }
}

@media (max-width:320px) {
    .solar-panels-text{
        top: 44%;
        font-size: 22px;
    }

    .solar-roof-text{
        top: 44%;
        font-size: 22px;
    }

    .solar-item a{
        width: 100px;
        font-size: 12px;
        height: 26px;
        padding: 0;
        align-items: center;
    }

    .car-description h1{
        margin-bottom: 10px;
        font-size: 28px;
    }

    .car-description li{
        margin-bottom: 14px;
        font-size: 12px;
    }
}