@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.banner-wrap{
    background-image: url(./assets/banner.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 3px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 2%;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(4px);
}

.logo{
    height: 24px;
    width: 7%;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 56px);
}

.title-section{
    margin-top: calc(155px - 56px);
}

.title-section h1{
    font-weight: 600;
    font-size: 40px;
}

.header-order{
    font-weight: 600;
    font-size: 14px;
    padding: 6px 2% 16px 2%;
    color: #1f2228;
}

.header-order a,
.header-order a:visited {
    color: #1f2228;
}

.nav-item{
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.25s ease;
    display: inline-block;
}

.nav-item a{
    text-decoration: none;
    color: #1f2228;
}

.nav-item:hover{
    background-color: rgba(206, 206, 206, 0.4);
    border-radius: 9999px;
    transform: scale(1.10);
}

.middle-menu{
    padding-left: 8%;
}

.dark{
    margin: 0;
    width: 224px;
    height: 40px;
    padding: 12px 27px;
    border-radius: 9999px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: rgb(206, 206, 206);
    background-color: #1f2228;
    text-decoration: none;
    display: inline-block;
}

.dark:visited{
    color: rgb(206, 206, 206)
}

.light{
    margin: 0;
    width: 224px;
    height: 40px;
    padding: 12px 27px;
    border-radius: 9999px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #1f2228;
    background-color: rgba(206, 206, 206, 0.4);
    text-decoration: none;
    display: inline-block;
}

.light:visited{
    color: #1f2228 ;
}

.dark:hover, .light:hover{
transform: scale(1.03);
}

.actions-area{
    padding-bottom: 100px;
}

.models{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 0 60px;
}

.car-section-left{
    position: relative;
    display: flex;
    margin-top: 120px;
    gap: 60px;
    align-items: flex-start;
}

.img-box{
    position: relative;
    width: 56%;
}

.car-section-left img{
    width: 100%;
    height: auto;
    flex: 0 1 auto;
    object-fit: cover;
    border-radius: 15px;
    justify-content: center;
}

.car-section-left .img-text{
    position: absolute;
    bottom: 12%;
    left: 6%;
    color: white;
    font-weight: 600;
    font-size: 64px;
}

.car-description{
    width: 42%;
    margin-top: 10px;
}

.car-description h1{
margin-bottom: 15px;
font-size: 58px;
}

.car-description li{
    margin-bottom: 14px;
    font-size: 20px;
}

.car-section-right{
    position: relative;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 120px;
}

.car-section-right img{
    width: 100%;
    height: auto;
    flex: 0 1 auto;
    object-fit: cover;
    border-radius: 15px;
    justify-content: center;
}

.car-section-right .img-text{
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: 600;
    bottom: 12%;
    right: 10%;
}

.car-section-right li{
    font-size: 20px;
    margin-bottom: 14px;
}

.car-section-right h1{
    font-size: 58px;
    margin-bottom: 15px;
}

.solar{
    margin-bottom: 80px;
}

.solar-cards{
    display: flex;
    position: relative;
    gap: 4%;
    margin-left: 7%;
}

.solar-item{
    position: relative;
    width: 44%;
}

.solar-roof{
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.solar-panel{
    width: 100%;
    height: auto;
    border-radius: 9px;
}


.solar-roof-text{
    position: absolute;
    top: 66%;
    left: 5%;
    font-size: 64px;
    color: white;
}

.solar-panels-text{
    position: absolute;
    color: white;
    font-size: 64px;
    left: 5%;
    top: 66%;
}

.solar-item a{
    width: 240px;
    height: 38px;
    padding: 10px ;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: rgb(206, 206, 206);
    background-color: rgba(17, 19, 22, 0.8);
    text-decoration: none;
    display:flex;
    justify-content: center;
    position: absolute;
    top: 82%;
}

.solar-item a:hover{
    transform: scale(1.03);
    background-color: rgba(12, 14, 17, 0.9);
}

.solar-left{
    left: 5%;
}

.solar-right{
    left: 5%;
}



.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul{
    display: flex;
    gap: 24px;
}

.footer li{
    list-style-type: none;
    display: inline-block;
    transition: all 0.25s ease;
}

.footer li:hover{
    transform: scale(1.15);
    display: inline-block;
}



.footer a{
    display: inline-block;
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-size: 12px;
}

.footer a:visited{
    color: rgb(107, 107, 107);
    text-decoration: none;
}

.footer a:hover{
    display: inline-block;
}