@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.banner-wrap{
    background-image: url(./assets/banner.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 32px;
}

.logo{
    height: 24px;
    width: 120px;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 56px);
}

.title-section{
    margin-top: calc(155px - 56px);
}

h1{
    font-weight: 600;
    font-size: 40px;
}

.header-order{
    font-weight: 600;
    font-size: 14px;
    padding: 6px 24px 16px 24px;
    color: #1f2228;
}

.header-order a,
.header-order a:visited {
    color: #1f2228;
}

.nav-item{
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.25s ease;
    display: inline-block;
}

.nav-item a{
    text-decoration: none;
    color: #1f2228;
}

.nav-item:hover{
    background-color: rgba(206, 206, 206, 0.4);
    border-radius: 9999px;
    transform: scale(1.10);
}

.middle-menu{
    padding-left: 150px;
}

.dark{
    margin: 0;
    width: 264px;
    height: 40px;
    padding: 12px 27px;
    border-radius: 9999px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: rgba(206, 206, 206,0.7);
    background-color: #1f2228;
    text-decoration: none;
    display: inline-block;
}

.dark:visited{
    color: rgb(206, 206, 206)
}

.light{
    margin: 0;
    width: 264px;
    height: 40px;
    padding: 12px 27px;
    border-radius: 9999px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #1f2228;
    background-color: rgba(206, 206, 206, 0.4);
    text-decoration: none;
    display: inline-block;
}

.light:visited{
    color: #1f2228 ;
}

.dark:hover, .light:hover{
transform: scale(1.03);
}

.actions-area{
    padding-bottom: 100px;
}