@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 600;
}

.banner-wrap{
    background-image: url(./assets/banner.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 32px;
}

.logo{
    height: 24px;
    width: 120px;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 56px);
}

.title-section{
    margin-top: calc(155px - 56px);
}

.actions-area{
    padding-bottom: 100px;
}

h1{
    font-weight: 600;
    font-size: 40px;
}

p{
    font-weight: 600;
    font-size: 14px;
    padding: 6px 24px 16px 24px;
}

.nav-item{
    padding: 5px 15px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: #d8d9d8;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px; ;
    border-top-right-radius: 9999px;
    
}

button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-color: yellow;
    width: 264px;
    height: 40px;
    padding: 7px 27px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px; ;
    border-top-right-radius: 9999px;
    margin-right: 20px;
    cursor: pointer;

}

.middle-menu{
    padding-left: 150px;
}

.btn-dark{
    background-color: #191d21;
    color: white;
}

.btn-light{
    background-color: #e4e4e2;
    color: #191d21;
}